* {
  margin: 0;
  padding: 0
}

::-webkit-scrollbar {
	display: none
}

div {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-self: stretch;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-shrink: 0;
	max-width: 100%;
	box-sizing: border-box
}

body {
	background-color: rgb(235, 235, 235);
	font-family: Inter UI, Helvetica Neue, -apple-system;
	font-size: 16px
}

html,
body,
#__next {
	min-height: 100%
}

@keyframes loading {
  0% {
    transform: scale(0.25, 0.25);
    opacity: 1.0
  }
  50% {
    transform: scale(1, 1);
    opacity: 0.5
  }
  99% {
    transform: scale(0.25, 0.25);
    opacity: 1.0
  }
}

.desktop-only {
	display: none
}

@media (min-width: 640px) {
	.desktop-only {
		display: block
	}
}

.flag {
	flex-direction: column
}

@media (min-width: 640px) {
	.flag {
		flex-direction: row
	}
}